<div class="page-spin">
    <div class="page-spin-inner">
        <div class="page-spin-brand">
            <img src="fintool_preview.png" alt="" class="page-spin-logo" />
            <span class="page-spin-title">Family Finance</span>
        </div>
        <div class="page-spin-wheel"></div>
    </div>
</div>
